<div class="container-fluid">
  <div class="row content--main">
    <div class="content-img col col-xs-0 bg--img"></div>
    <div class="col-xxl-4 col-xl-5 col-lg-6 col-md-6 col-xs-12 bg-dark d-grid align-content-center">
      <h1 class="text-white text-center title">Time to!</h1>
      <!-- <h2 class="text-white text-center subtitle">Teste</h2> -->

      <div class="p-2">
        <router-outlet></router-outlet>
      </div>

    </div>
  </div>
</div>
