* {
  font-size: 15px;
  font-weight: 400;
}

.card {
  width: 250px;
}
.card--content {
  display: flex;
}

@media(max-width: 580px) {
  .card {
    width: 100%;
  }
  .card--content {
    display: grid;
    width: 100%;
  }
}
