<div class="card--content justify-content-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="card m-1 col-xs-12 col-xs-12" style="width: 18rem;" *ngFor="let item of arrayEvents">
        <div class="card-body">
          <h1 class="card-title">{{item.name.length > 15 ? item.name.substring(0, 16) + "..." : item.name}}</h1>
          <p class="card-text h5">{{item.description.length > 30 ? item.description.substring(0, 30) + "..." : item.description}}</p>
          <input type="text" class="form-control text-center" readonly [value]="item.initialDatetime | date:'dd/MM/YYYY'">
          <input type="text" class="form-control mt-1 text-center" readonly [value]="item.initialDatetime | date:'HH:mm'">
          <input type="text" class="form-control mt-1 text-center" readonly [value]='item.finalDatetime | date:"dd/MM/YYYY"'>
          <input type="text" class="form-control mt-1 text-center" readonly [value]='item.finalDatetime | date:"HH:mm"'>
          <div class="mt-1 justify-content-center d-flex">
            <button class="btn btn-primary m-1" (click)="openModal(content, item)">Editar | Ver +</button>
            <button class="btn btn-danger m-1" (click)="openDeleteModal(deleteModal, item.id, item.name)">Excluir</button>
            <!-- (click)="deleteEvent(item.id)" -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h1>Edição de evento</h1>
  </div>
  <div class="modal-body" [formGroup]="modalForm">
    <input type="number" formControlName="modalEventId" readonly class="d-none">
    <label for="nameFormControlInput" class="form-label h6">Nome</label>
    <input type="text" id="nameFormControlInput" class="form-control" formControlName="modalName">
    <label for="descFormControlInput" class="form-label h6 mt-2">Descrição</label>
    <input type="text" id="descFormControlInput" class="form-control" formControlName="modalDescription">
    <label for="initialDate" class="form-label h6 mt-2">Data inicial</label>
    <input type="date" id="initialDate" class="form-control" formControlName="modalInitialDate">
    <label for="initialTime" class="form-label h6 mt-2">Hora inicial</label>
    <input type="time" id="initialTime" class="form-control" formControlName="modalInitialTime">
    <label for="finalDate" class="form-label h6 mt-2">Data final</label>
    <input type="date" id="finalDate" class="form-control" formControlName="modalFinalDate">
    <label for="finalTime" class="form-label h6 mt-2">Hora final</label>
    <input type="time" id="finalTime" class="form-control" formControlName="modalFinalTime">
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-success" (click)="saveEdit()">Salvar</button>
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Fechar</button>
  </div>
</ng-template>


<ng-template #deleteModal let-modal>
  <div class="modal-header">
    <h1>Tem certeza que deseja remover esse evento?</h1>
  </div>
  <div class="modal-body" [formGroup]="modalDeleteEvent">
    <label for="nameFormControlInput" class="form-label h6">Nome</label>
    <input type="text" id="nameFormControlInput" class="form-control" formControlName="nameModal" readonly>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-success" (click)="deleteEvent(modalDeleteEvent.get('currentIdForRemove')?.value)">Excluir</button>
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Cancelar</button>
  </div>
</ng-template>
