
<div class="alert alert-{{ type }} no margin mb-0" role="alert" >
  {{ message }}
  <!-- <button type="button" class="close" data-dismiss="alert">
    <span>&times;</span>
  </button> -->
</div>





