<form class="p-2" [formGroup]="registerForm" (ngSubmit)="onSubmit()">

  <div class="form-group mb-2">
    <label for="inputName" class="text-white">Insira seu nome</label>
    <input type="text" class="form-control" id="inputName" placeholder="Nome" formControlName="username">
  </div>

  <div class="form-group mb-2">
    <label class="text-white">Insira seu E-mail</label>
    <input type="email" class="form-control" placeholder="E-mail" formControlName="email">
  </div>

  <div class="form-group mb-4">
    <label class="text-white">Insira sua senha</label>
    <input type="password" class="form-control" placeholder="Password" formControlName="password" minlength="8">
    <label class="text-white mt-2">Confirme sua senha</label>
    <input type="password" class="form-control" placeholder="Password" formControlName="confirmPassword">
  </div>

  <button type="submit" class="btn btn-success w-100">Registrar</button>
  <button class="btn btn-primary mt-2 w-100" routerLink="/auth-login">Voltar</button>
</form>
