<main class="main">
  <div class="bg-gradient">
    <nav class="nav-bar">
      <input type="checkbox" id="check">
      <label for="check" class="checkbtn" >
        <img src="../../../assets/images/menu.png" alt="menu" style="margin-top: 25px">
      </label>
      <div>
      </div>
      <ul>
        <li><a routerLink='/'>Listar</a></li>
        <li><a routerLink='/new-event'>Criar</a></li>
      </ul>
      <button class="lorem-ipsum-btn" routerLink='auth/login' (click)="handleClickButtonLogout()">Sair</button>
    </nav>
    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
    <div class=""></div>
  </div>
</main>


 <!-- <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <div>
      <span class="navbar-brand mb-0 h1">TimeTo</span>
    </div>

    <div class="" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" routerLink='/'>Meus eventos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink='/new-event'>Novo evento</a>
        </li>
      </ul>
    </div>

    <div></div>

  </div>
</nav>
<div class="main-content">
  <router-outlet></router-outlet>
</div> -->
