.main {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  color: #FFF;
  background:rgb(160, 197, 247);
  /* background-image: url('../../../assets/images/exemplo_01.png'); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: local;
}

.bg-gradient {
  width: 100vw;
  height: 100vh;
  color: #FFF;
  margin: 0 auto;
  background-image: linear-gradient(to bottom, #0000008e 0%, #0000007c 50%, #000000 100%);
}
nav {
  width: 100%;
  height: 50px;
  display: flex;
	background: #2471b7;
  justify-content: space-between;
  z-index: 1;
}
label.logo {
	color: white;
	font-size: 35px;
	padding: 0 100px;
	line-height: 80px;
	font-weight: bold;
}
nav ul {
	float: right;
	margin-right: 20px;
}
nav ul li {
	margin: 0 5px;
  line-height: 45px;
	display: inline-block;
}
nav ul li a {
	color: white;
	font-size: 12px;
	padding: 3px 13px 7px 13px;
	border-radius: 3px;
	text-transform: uppercase;
}
a.active, a:hover {
  transition: .5s;
	background: #00204f;
}
.checkbtn {
	font-size: 30px;
	color: white;
	float: left;
	/* line-height: 20px; */
	margin-left: 40px;
	cursor: pointer;
	display: none;
}
#check {
	display: none;
}
main nav label i {
  color: #FFF;
}

.main-content {
  color: #000000;
}

@media (max-width: 1129px){
  /* ========== Grid ========= */
  .grid {
    display: grid;
    grid-template-columns: 1fr;
  }
  .grid-template-rows-1 {
    grid-template-rows: auto;
  }

  /* ======================= */
  .checkbtn {
    display: block;
  }

  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #00204f;
    top: 50px;
    left: -100%;
    text-align: center;
    transition: all .5s;
    border-top: 2px solid #FFF;
  }
  nav {
    position: fixed;
  }


  .lorem-ipsum-btn {
    width: 100px;
    height: 40px;
    margin: 5px 150px 5px 20px;
    background: #00204f;
    color: #FFF;
    border: none!important;
  }
  a:active, a:hover {
    background: #2471b7;
  }
  #check:checked ~ ul {
    left: 0;
  }
  .checkbtn {
    margin-top: -10px;
  }
  .lorem-ipsum-btn {
    border: none!important;
    margin-right: 30px!important;
  }

  .main-content {
    padding-top: 12vh;
    text-align: center;
  }

}

/* Desktop media */
@media (min-width: 1130px){

  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .grid-template-rows-1 {
    grid-template-rows: 120px 120px 120px 120px 120px;
  }
  .grid-three-rows {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .grid-template-three-rows {
    grid-template-rows: 120px;
  }

	nav ul li a{
		font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: capitalize;
    transition: transform 100ms ease-in-out;
	}

  nav ul li a:hover {
    transform: scale(1.06);
    font-size: 17px;
  }

  nav ul {
    margin-right: 20px;
    position: absolute;
    right: 300px;
    border-top: none!important;
    margin-top: 0px;
    text-decoration: none;
    font-weight: 600;
  }

  .logo {
    padding: 20px 20px 20px 150px;
  }
  .lorem-ipsum-btn {
    width: 150px;
    height: 40px;
    margin: 5px 150px 5px 20px;
    background: #00204f;
    color: #FFF;
    border: none!important;
    box-shadow: 0 0 10px rgb(0 0 0 / 30%);
    transition: transform 100ms ease-in-out;
  }
  .lorem-ipsum-btn:hover {
    transform: scale(1.03);
  }

  .main-content {
    padding-top: 4vh;
  }
}

