<form class="p-4" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div class="form-group mb-4">
    <label for="exampleInputEmail1" class="text-white">Insira seu E-mail</label>
    <input type="email" class="form-control" formControlName="username" placeholder="Enter email">
  </div>
  <div class="form-group mb-4">
    <label for="exampleInputPassword1" class="text-white">Insira sua senha</label>
    <input type="password" class="form-control" formControlName="password" placeholder="Password">
    <small id="emailHelp" class="form-text text-muted">Nunca compartilhe sua senha com terceiros!</small>
  </div>
  <button type="submit" class="btn btn-success w-100">Entrar</button>
  <button type="submit" class="btn btn-primary w-100 mt-2" routerLink='/auth/register'>Registrar-se</button>
</form>

