#initialDate,
#initialTime,
#finalDate,
#finalTime {
  width: 220px;
}

.main-content {
  /* margin-top: -50px; */
}


@media(max-width: 470px) {

  .main-content {
    /* margin-top: -50px; */
  }

  #initialDate,
  #initialTime,
  #finalDate,
  #finalTime {
    width: 150px;
  }
}


