<form class="main-content d-flex justify-content-center" [formGroup]="createEventForm" (ngSubmit)="onSubmit()">
  <div class="">
    <h1 class="text-center">Inserir novo evento</h1>
    <div class="mb-3">
      <label for="nameFormControlInput" class="form-label h5">Nome</label>
      <input name="inputName" type="text" class="form-control" placeholder="Nome do evento" formControlName="name">
    </div>
    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label h5">Descrição</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="2" formControlName="description"></textarea>
    </div>
    <div class="justify-content-center d-flex">
      <div>
        <div class="d-flex">
          <div class="p-1">
            <label for="initialDate" class="form-label h6">Data inicial</label>
            <input type="date" id="initialDate" class="form-control" formControlName="initialDate">
          </div>
          <div class="p-1">
            <label for="initialTime" class="form-label h6">Hora inicial</label>
            <input type="time" id="initialTime" class="form-control" formControlName="initialTime">
          </div>

        </div>
        <div class="d-flex mt-3">
          <div class="p-1">
            <label for="finalDate" class="form-label h6">Data final</label>
            <input type="date" id="finalDate" class="form-control" formControlName="finalDate">
          </div>
          <div class="p-1">
            <label for="finalTime" class="form-label h6">Hora final</label>
            <input type="time" id="finalTime" class="form-control" formControlName="finalTime">
          </div>
        </div>
      </div>
    </div>
    <button class="btn btn-success">Criar</button>
  </div>
</form>
